.portfolio {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.category > h3 {
    height: 2rem;
    text-align: center;
    width: 85%;
    border-bottom: 2px dotted black;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;
  
}

.writing {
  border: 1px solid black;
  min-width: 300px;
  max-width: 325px;
  height: fit-content;
  margin-right: 15px;
  margin-bottom: 25px;
  box-shadow: 7px 5px 5px rgba(44, 44, 44, 0.521);
  background: rgb(233,233,233);
  background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.writing > p {
  margin-inline: 25px;
  margin-bottom: 20px;
}

.article-image {
  height: 200px;
  width: 200px;
}

.article-title {
  margin-inline: 20px;
}

.article-link {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 850px) {
    .row {
        justify-content: center;
    }
        
    .writing {
        margin-right: 0;
    }

    .profile-pic-container {
        margin-bottom: 25px;
    }
    
}
  